@charset "utf-8";

.container{
  margin: 0 auto;
  max-width: 1000px;
  background: silver;
  display: grid;
  grid-template-columns: repeat(12, 65px);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 20px;
}
.navigation, .content, .ad{
  height: calc(100vh - 200px);
}
.header{
  background: yellow;
  grid-column: 1/ span 10;
}
.navigation{
  background: pink;
  grid-column: 1/ span 2;
  grid-row: 2;
}
.content{
  background: skyblue;
  grid-column: 3/ span 8;
  grid-row: 2;
}
.ad{
  background: lime;
  grid-column: span 2/ -1;
  grid-row: 2;
}
.footer{
  background: orange;
  grid-column: 3/ span 8;
}