@charset "utf-8";

.container{
  display: grid;
  grid-template-columns: repeat(12, 65px);
  grid-auto-rows: minmax(50px, auto);
  grid-column-gap: 20px;
}
.header, .navigation, .main-content, .ad, .footer{
  grid-column: 1/13;
}
.header{
  background-color: yellow;
  grid-column: 3/13;
}
.navigation{
  background-color: lime;
  grid-row: 2/6;
  grid-column: 1/3;
}
.main-content{
  background-color: pink;
  grid-row: 2/6;
  grid-column: 3/11;
}
.ad{
  background-color: orange;
  grid-row: 2/6;
  grid-column: 11/13;
}
.footer{
  background-color: skyblue;
  grid-row: 6/7;
}