@charset "utf-8";
/* 반응형 이미지 */
.rwd-container{
  display: flex;
  flex-wrap: wrap;
}
.rwd-container{
  border: 10px solid #aaa;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  flex-basis: 50%;
}
.rwd-img{
  max-width: 100%;
  height: auto;
}